@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior:smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color : #ffffff;
    --section-color : #212b38;
    --bg-color : #1a222c;
    --blue-color : #537fd7;
    --item-bg-color : #273342;
    --second-item-bg-color : #2b3848;
}
html{
    font-size: 62.5%;
}
section{
    min-height: 100vh;
    background-color: var(--section-color);
    padding: 0 7%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 10.5rem;
    background-color: var(--bg-color);
}
header h1{
    color: #537fd7;
    &:hover {
        color: #677899;
    }
}
header #menu{
    display: none;
}
header nav a{
    color: var(--text-color);
    font-size: 2.2rem;
    margin-left: 4.5rem;
    transition: .2s;
}
header nav a:hover,
header nav .active{
    color: var(--blue-color);
}
.Home{
    position: relative;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.Home .content-box{
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
}
.Home .text-box h3{
    font-size: 3.5rem;
}
.Home .text-box h1{
    font-size: 5.5rem;
}
.Home .text-box h1:nth-child(3){
    font-size: 3.5rem;
}
.Home .text-box .skills{
    color: var(--blue-color);
}
.Home .text-box p{
    margin: 2.5rem 0;
    font-size: 1.4rem;
}
.Home .content-box .icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-right: 3rem;
}
.Home .content-box .icon-box i{
    border: .2rem solid var(--blue-color);
    border-radius: 50%;
    font-size: 3rem;
    padding: .8rem;
    color: var(--blue-color);
    cursor: pointer;
    transition: .2s;
}
.Home .content-box .icon-box i:hover{
    color: var(--text-color);
    background-color: var(--blue-color);
    box-shadow: 0 0 1.5rem var(--blue-color);
}
.btn-box{
    display: flex;
    gap: 2rem;
}
.btn{
    color: var(--text-color);
    width: 19rem;
    height: 5.5rem;
    border: .2rem solid var(--blue-color);
    background-color: var(--blue-color);
    box-shadow: 0 0 1.5rem var(--blue-color);
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
    background: transparent;
    
}

/* .btn-2{
    background: transparent;
    box-shadow: none;
} */
.btn:hover, 
.btn-2:hover{
    background-color: var(--blue-color);
    box-shadow: 0 0 1.5rem var(--blue-color);
}
.img{
    width: 39vw;
}
.About{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
}
.title{
    font-size: 7rem;
    color: var(--text-color);
} 
.title span{
    color: var(--blue-color);
}
.About .text-box{
    width: 50%;
}
.About .text-box h1:nth-child(2){
    color: var(--blue-color);
    font-size: 4rem;
}
.About .text-box p{
    font-size: 1.4rem;
    margin: 2.5rem 0;
    color: var(--text-color);
}
.SkillSets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding: 6.5rem 7% 4rem 7%;
    background-color: var(--bg-color);
}
.SkillSets .card-box{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.SkillSets .card-box .card{
    flex: 1 1 30rem;
    height: 43rem;
    background-color: var(--item-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0 2rem;
    gap: 2.5rem;
    transition: .2s;
}
.SkillSets .card-box .card:hover{
    transform: scale(1.09);
    background-color: var(--second-item-bg-color);
}
.SkillSets .card-box .card h1{
    font-size: 3rem;
}
.SkillSets .card-box .card i{
    font-size: 8rem;
}
.SkillSets .card-box .card p{
    font-size: 1.3rem;
}
.Portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6.5rem 7% 4rem 7%;
    gap: 2.4rem;
}
.Portfolio .content-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--text-color);
    gap: 2rem;
}
.Portfolio .img-box{
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 1.2rem;
    overflow: hidden;
}
.Portfolio .img-box img{
    width: 100%;
    transition: .3s;
}
.Portfolio .img-box span{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    transform: translateY(150%);
    border-radius: 1.2rem;
    background: linear-gradient(rgba(0,0,0,.5), var(--blue-color));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    transition: .2s;
    z-index: 3;
}
.Portfolio .img-box span i{
    font-size: 2.5rem;
    padding: .8rem;
    background-color: var(--text-color);
    color: black;
    border-radius: 50%;
    cursor: pointer;
}
.Portfolio .img-box:hover img{
    transform: scale(1.06);
}
.Portfolio .img-box:hover span{
    transform: translateY(0%);
}
.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 27%;
    background-color: var(--bg-color);
}
.Contact .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.Contact .input-box{
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.Contact .input-box input{
    width: 50%;
    height: 100%;
    padding: 2%;
}
.Contact .form textarea{
    width: 100%;
    height: 28rem;
    padding: 2%;
    display: block;
    font-size: 1.6rem;
    resize: none;
}
.Contact .form textarea,
.Contact .form .input-box input{
    background-color: var(--second-item-bg-color);
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: .5rem;
}
.Contact .form textarea::placeholder,
.Contact .form .input-box input::placeholder{
    color: var(--text-color);
    font-size: 1.6rem;
}
.Contact input[type = "submit"]{
    width: 21rem;
    margin-top: .8rem;
}
@media (max-width : 1200px) {
    html{
        font-size: 56%;
    }
    .Contact{
        padding: 0 22%;
    }
}
@media (max-width : 1020px) {
    header{
        padding: 1.5rem 5rem;
    }
    section{
        padding: 0 5%;
    }
    .Portfolio .img-box span{
        font-size: 1.2rem;
    }
}
@media (max-width : 850px) {
    .Home{
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding: 12rem 0;
    }
    .Home .content-box{
        width: 90%;
    }
    .img{
        width: 65vw;
    }
    .About{
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 12rem 0;
    }
    .About .text-box{
        width: 70%;
    }
    .Portfolio .content-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .Portfolio .img-box span{
        font-size: 1.4rem;
    }
    .Contact{
        padding: 0 15%;
    }
    header #menu{
        display: block;
        font-size: 4rem;
    }
    header nav{
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--bg-color);
        width: 100%;
        padding: .5rem 5rem;
        box-shadow: 0 .8rem 1rem rgba(0,0,0,.5);
        display: none;
    }
    header .active{
        display: block;
    }
    header nav a{
        display: block;
        margin: 3rem 0;
        font-size: 2.5rem;
    }
}
@media (max-width : 750px) {
    html{
        font-size: 48%;
    }
    .Contact{
        padding: 0 5%;
    }
    .Contact .input-box{
        height: 7rem;
    }
    .Contact .form .btn{
        width: 25rem;
        height: 6rem;
        font-size: 2.5rem;
    }
}
@media (max-width : 500px) {
    .img{
        width: 70vw;
    }
    .Portfolio{
        padding: 12rem 8%;
    }
    .Portfolio .content-box{
        grid-template-columns: repeat(1,1fr);
    }
    .Portfolio .img-box span{
        font-size: 2rem;
    }
    .Portfolio .img-box span i{
        font-size: 3rem;
        padding: 1rem;
    }
}
@media (max-width : 400px) {
    html{
        font-size: 40%;
    }
    .img{
        width: 90vw;
    }
    .Contact .input-box{
        height: 15rem;
        flex-wrap: wrap;
        margin-bottom: 1.2rem;
    }
    .Contact .input-box input{
        width: 100%;
        height: 50%;
    }
    .Contact .input-box input,
    .Contact .form textarea{
        padding: 5%;
    }
    .Contact .input-box input::placeholder,
    .Contact .form textarea::placeholder{
        font-size: 2rem;
    }
}